li {
    color: green;
}
.za {
    color: red;
}
#box-1 {
    height: 50vh; 
    width: 50vw;
    background-color:purple;
    float: right;
    border: 50px solid black;
    padding: 100px; */
    margin-left: 50px; */
}